.container_card_fill {
  width: 100%;
}

.container_card_fill > img {
  width: 90%;
  border-radius: 8px;
}

@media (min-width: 425px) {
  .card_fill {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .container_card_fill {
    width: 70%;
  }
}

@media (min-width: 1024px) {
  .ccontainer_card_fill {
    width: 100%;
  }

  .container_card_fill > img {
    width: 70%;
    border-radius: 8px;
  }
}
